/* ImageCarousel.module.css */

.carouselContainer {
    margin-top: 15px;
  }
  
  .carouselImage {
    width: 70%;
    display: block;
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }
  
  .carouselItem {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-align: center; /* Asegura que el contenido esté centrado dentro del Paper */
  }
  
  .carouselContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  