.img {
  height: 300px;
  width: 345px;
  margin-left: 5px;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 5%;
}

.div {
  position: relative;
  width: 345px;
  height: 300px;
}

.preview {
    width: 345px;
    height: 300px;
    display: block;
    padding: 10px;
    border: none;
    background-color: rgba(129, 129, 129, 0.527);
    color: #333;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
  }