.container {
  background-color: aliceblue;
}

.div {
  padding: 10px;
  width: 800px;
}

.div2 {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3{
  height: 150px;
}

.input {
  padding: 10px;
  width: 200px;
}

.input2 {
  padding: 10px;
  width: 200px;
  height: 45px;
}

.input3 {
  padding: 10px;
  width: 80px;
  height: 20px;
}

.date {
  margin-left: 10px;
}

.showPassword {
  position: absolute;
  left: 540px;
  bottom: 55px;
}

.photoDiv{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 100px;
  right: 100px;
}

.photo{
  height: 235px;
  width: 290px;
  margin-left: 5px;
}