/* TopBar */
.topContainer {
  position: relative;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  margin-top: -75px;
  margin-left: -70px;
}

.topBar {
  margin-top: 20px;
  background-color: #414141;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100%);
  /* Ajusta el ancho para dejar espacio para la imagen */
}

.buttonsContainer {
  display: flex;
  justify-content: flex-start;
}

/* Buttons Container */
.buttonsContainer {
  display: flex;
  justify-content: flex-start;
  /* Puedes cambiar 'start' a 'flex-start' para mayor claridad */
  margin-left: 300px;
}

.topBar button {
  box-shadow: none;
  height: 60px;
  border-radius: 0px;
}

/* Menu Styles */
.menuItemPaper {
  background-color: #1111116e;
  border-radius: 0px;
}

/* Account Container */
.accountContainer {
  display: flex;
  justify-content: flex-end;
  /* Puedes cambiar 'end' a 'flex-end' para mayor claridad */
}

/* Login Menu Styles */
.textFieldLogin {
  background-color: rgb(29, 28, 28);

  width: 300px;
  border-radius: 5px;
}


.bottomLine {
  background-color: #ff9721;
  width: auto;
  height: 2px;
}